/*---------- COLOR ----------*/
/*---------- FONT ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: 1; }

html {
  font-size: 62.5%; }

body {
  color: #4a4b5e;
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.attribution {
  font-size: 1.1rem;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
