/*---------- Media query ----------*/
/*---------- 1152px ----------*/
@media (max-width: 72em) {
  .main {
    margin-top: 5rem;
    max-width: 35vw;
  }
  .container {
    flex-direction: column;
    padding: 13.2rem 2.4rem 4.8rem 2.4rem;
    overflow: visible;
  }
  .img {
    &__woman,
    &__background,
    &__box {
      display: none;
    }

    &__mobile {
      display: block;
      height: 18rem;
      position: absolute;
      left: 20%;
      top: -235px;
      transform: translate(-20%, -2%);
    }

    &__mobile-bg {
      display: block;
      position: absolute;
      left: 7.5%;
      top: -130px;
    }
  }

  .faq {
    &__title {
      text-align: center;
      margin-bottom: 3.8rem;
    }

    &__accordions {
      max-width: 29.7rem;
    }
  }
}
